# Project place file
*.rbxl 
*.rbxm

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Wally  
Packages
wally.lock

# Testing Files
Client 
test.project.json

# sourcemap
sourcemap.json

# Doc Site
site

# Util related
node_modules
Util
package-lock.json
package.json

# Python 
.venv
