# Project place file
*.rbxl 
SmartRaycastTesting.rbxl
/SmartRaycast.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Wally  
Packages
wally.lock

# moonwave
build
docs

# Testing Files
Client 

# sourcemap
sourcemap.json
